@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', Helvetica, sans-serif;
}

body{
    background-color: #F2E3D5;
}
#moviesCounter{
    position: absolute;
    top: 0;
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

.page {
    position: absolute;
    transform: translateX(-200%);
  }

.page.active {
    padding: 1rem;
    opacity: 1;
    transform: translateX(0);
    animation: fadeIn 0.4s ease-in;
  }

 #selection{
      padding-left: 1rem;
      padding-top: 2rem;
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
    opacity: 1;
    }
}

#goToSelection,
#goHome,
#nav-title{
      cursor: pointer;
      font-size: 1.5rem;
      padding-left: 1rem;
}

#goToSelection,
#goHome{
      font-size: 3rem;
}
#nav-top{
    background-color: #144E73;
}

#nav-mobile{
     display: flex;
     gap: 2.2rem;
     padding-right: 1rem;
}
#moviesCounter{
    font-size: 1.3rem;
    color: white;
}
#searchBar{
    background-color: #f5f1ed;
}

#back i{
    font-size: 3rem;
    cursor: pointer;
}
#arrow_back{
    font-size: 3rem;
    font-weight: bold;
}
img{
    min-height: 33vh;
}

.add{
    color: #144E73;
}

  .btn-floating{
      cursor: pointer;
      position: fixed;
      top: 57%;
  }


  #search-section{
      padding-top: 2rem;
      text-align: center;
  }
  #selected{
      display: flex;
      gap: 1rem;
  }

  #selection .card {
      min-width: 100%;
  }