body{
    background-color: #F2E3D5;
}
#moviesCounter{
    position: absolute;
    top: 0;
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

.page {
    position: absolute;
    transform: translateX(-200%);
  }

.page.active {
    padding: 1rem;
    opacity: 1;
    transform: translateX(0);
    animation: fadeIn 0.4s ease-in;
  }

 #selection{
      padding-left: 1rem;
      padding-top: 2rem;
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
    opacity: 1;
    }
}

#goToSelection,
#goHome,
#nav-title{
      cursor: pointer;
      font-size: 1.5rem;
      padding-left: 1rem;
}

#goToSelection,
#goHome{
      font-size: 3rem;
}
#nav-top{
    background-color: #144E73;
}

#nav-mobile{
     display: flex;
     gap: 3rem;
     padding-right: 1rem;
}
#moviesCounter{
    color: white;
}
#searchBar{
    background-color: #f5f1ed;
}
#back{
    font-size: 1.7rem;
    cursor: pointer;
}
#arrow_back{
    font-size: 2rem;
    font-weight: bold;
}
.card{
    background-color: #59AAC0;
}
.card img{
    min-height: 33vh;
}

.add{
    color: #144E73;
}

  .btn-floating{
      cursor: pointer;
      position: fixed;
      top: 57%;
  }

  .toast-container{
      background-color: tomato;
  }

  #search-section{
      padding-top: 2rem;
      text-align: center;
  }
  #selected{
      display: flex;
      gap: 1rem;
  }

  /* .modal{
      height: 20vh;
      max-height: 100%;
  }

  .modal-footer{
      position: absolute;
      bottom: 0;
  } */